body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    /* A green-blue gradient */
    height: 100vh;
    /* Ensure full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.logo {
    width: 30px;
    padding: 10px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    margin: 0 10px 0 10px;
    width: 400px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    /* Shadow for emphasis */
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    /* Black heading */
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    /* Black input text */
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    /* Black bottom border */
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #555555;
    /* Gray label */
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #4CAF50;
    /* Green label when focused/valid */
    font-size: 12px;
}

.login-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #4CAF50;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px border: none;
    /* Remove default button border */
    background: transparent;
    cursor: pointer;
    border: 1px solid #4CAF50;
    /*Add border instead*/
}

.login-box button:hover {
    background: #4CAF50;
    /* Green hover background */
    color: #fff;
    /* White text on hover */
    border-radius: 5px;
    box-shadow: 0 0 5px #4CAF50, 0 0 25px #4CAF50, 0 0 50px #4CAF50, 0 0 100px #4CAF50;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #4CAF50);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}